*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo
/.vs
/LocalLLM/x64
/LocalLLM/Debug
/LocalLLM.vcxproj.user

/Models/codegemmaq4mk.gguf
/Models/model-f16.gguf
/Models/qwen.gguf

/RC*

/Debug

x64/
# GitHub storage limitations
/llama.cpp/
/llama.cpp/*
/llama.cpp/*/**
llama.cpp/build/
llama.cpp/build-cuda/
llama.cpp/ggml/

# Do not include .dll while committing to GitHub
/lib/ggml-cuda.dll
/lib/ggml-base.dll
/lib/ggml-cpu.dll
/lib/ggml.dll
/lib/mtmd.dll

# Do not include minja
/minja
/minja/
/minja/*
/minja/*/**
/LocalLLM.Minja.hpp
/Models/gpt-oss-20b-mxfp4.gguf
/Models/Magistral-Small-2509-Q4_K_M.gguf
/Models/Ministral-3-14B-Reasoning-2512-8-0.gguf
/Models/ministral.gguf
/Models/Ministral-3-8B-Instruct-2512-Q8_0.gguf
/Models/ohtct-sanitized-ministral-314b-instruct.gguf
